{% extends 'store/home.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
    <h1 class="text-center mt-5">About us</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/Nutan.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Nutan</h5>
                    <p class="card-text text-center">Our Project Leader</p>
                    <p class="card-text text-center">Designed backend of our website using Django Framework of
                        python</p>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/Viraj.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Viraj</h5>
                    <p class="card-text text-center">Project Member</p>
                    <p class="card-text text-center">Designed frontend of our website using HTML, CSS and Bootstrap</p>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/Nutan.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Nutan</h5>
                    <p class="card-text text-center">Project Member</p>
                    <p class="card-text text-center">Designed documentation of our project</p>

                </div>

            </div>
        </div>


    </div>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur at
        dolores, ducimus eos,
        error
        esse
        hic iure laudantium molestiae nesciunt nihil obcaecati officiis, placeat praesentium repellendus
        suscipit totam
        veniam?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet consequuntur impedit inventore itaque
        maiores
        minus nam, natus odio placeat repellat sequi vero. Exercitationem inventore iusto nihil nisi velit
        voluptatum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur at
        dolores, ducimus eos,
        error
        esse
        hic iure laudantium molestiae nesciunt nihil obcaecati officiis, placeat praesentium repellendus
        suscipit totam
        veniam?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet consequuntur impedit inventore itaque
        maiores
        minus nam, natus odio placeat repellat sequi vero. Exercitationem inventore iusto nihil nisi velit
        voluptatum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur at
        dolores, ducimus eos,
        error
        esse
        hic iure laudantium molestiae nesciunt nihil obcaecati officiis, placeat praesentium repellendus
        suscipit totam
        veniam?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet consequuntur impedit inventore itaque
        maiores
        minus nam, natus odio placeat repellat sequi vero. Exercitationem inventore iusto nihil nisi velit
        voluptatum?
    </p>
    </body>
    </html>
{% endblock content %}